.menub{
    background-image: linear-gradient(-80deg,gray,black);
}
#ulco a{
    color:#cc3333;
    font-size: 40px;
    text-align: right;
    margin-right: 1275px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* paycart */
.img1{
    height: 35px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px black);
}
