/* dashboard about us */
.continer h3 span{
    border-bottom: solid 1px rgb(251, 155, 0);
}
.contai{
    background-color: #C7C7C7;
}
.contai h3 span{
    border-bottom: solid 1px rgb(251, 155, 0);

}

.section{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    align-items: center;
    margin: 50px 70px 20px 20%;
    margin-top: 5px!important;
    /* margin: 10rem auto 0 auto; */
}
.section img{
    width: 200px;
    height:150px;
    border-radius: 50px;
    margin-left: 20px;
}

.side{
    color: black;
    margin-left: 15px;
    padding-left: 15px;
}

#btn1{
    margin-top: 190px;
    margin-left: 230px;
    background-color: #C70A0A;
    color: white;
    font-weight: 25px;
}
#btn2{
    margin-top: 190px;
    margin-left: 750px;
    background-color: #C70A0A;
    color: white;
    font-weight: 25px;
    border: #C7C7C7;
    border-width: 3px;
}

